<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

     <title>Deeplexia</title>
  </head>
  <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand m-2 ml-3" href="#"> DEEPLEXIA : Translating Text into Emojis</a>
     </nav>

     <div class="container-fluid">
     </div>


     <div class="row justify-content-center pt-5">
        <div class="col-sm-5">  <!-- [1, 0] -->
           <form  method="POST" class="form-group">
                <label class="font-weight-bold">TEXT</label>
                <textarea id="text_input" class="form-control" rows="15" name="text" style="height:100%;" placeholder="Please enter the text to be translated to emojis" ng-model="myTextarea" >{{origin_text}}</textarea>
               <div class="m-3 ml-5">
                    <!-- <input class="btn btn-info" type="submit" name="translate-sent" value="Translate Sentences" onclick="myFunction()">-->
                   <input class="btn btn-info" type="submit" name="sentences" value="Sentences" >
                   <input class="btn btn-secondary" type="submit" name="keywords" value="Keywords">
                   <input class="btn btn-light btn-outline-secondary" type="submit" name="reset" value="Reset">
               </div>
            </form>
        </div>

        <div class="col-sm-5">  <!-- [1, 1] -->
            <form method="GET" class="form-group">
                <label class="font-weight-bold">EMOJIS</label>
                <textarea id="text_output" class="form-control" rows="15"  style="height:100%;" ng-model="myTextarea" required data-error="Please enter customer notes"> {{result}}</textarea>
                <div class="help-block with-errors">  </div>
            </form>
        </div>
    </div>



      <!-- JavaScript -->
       <!-- Optional JavaScript -->
       <!-- jQuery first, then Popper.js, then Bootstrap JS -->

       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     </body>
</html>