ipykernel==5.3.4
ipython==7.16.1
jupyterlab==2.2.8
jupyterlab-pygments==0.1.1
jupyterlab-server==1.2.0
matplotlib
numpy
pandas
scikit-learn
scipy
regex==2020.7.14
requests==2.24.0
seaborn==0.10.1
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-datasets==3.2.1
tensorflow-estimator==2.0.0
tensorflow-hub==0.9.0
tensorflow-metadata==0.24.0
textblob==0.15.3
urllib3==1.25.10
tensorflow_datasets
flask
spacy
prettytable
